# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# DACPAC output
*.dacpac

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# SQL Server
*.mdf
*.ldf
*.ndf

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
